.footer {
    background-color: var(--body-color);
}

.footer__container {
    padding: 1rem 0 2rem;
}

.footer__copy {
    display: block;
    color: var(--text-color);
    text-align: left;
    font-size: var(--smaller-font-size);
}